{% extends "base.html" %}

{% set title = "Mohit Arora" %}
{% set author = "Mohit Arora" %}
{% set description = "JMohit Arora is a content creator, public speaker, startup advisor, and health equity consultant based in Toronto, Canada." %}
{% set keywords = "health equity, creator economy, clubhouse, advisor, public speaker, toronto, canada, social audio, startups" %}

{% set og_title = "Mohit Arora" %}
{% set og_description = "Mohit Arora is a content creator, public speaker, startup advisor, and health equity consultant based in Toronto, Canada." %}
{% set og_url = "https://mohitarora.xyz/" %}
{% set og_image = "images/og-image.png" %}

{% set twitter_site = "@mohitaroraxyz" %}

{% block content %}
	<main>
		{% include "visual.html" %}
		{% include "information.html" %}
	</main>
{% endblock %} 
