<section id="information">

    <header>
        <h1>Mohit Arora</h1>
        <p>Creator, Speaker, Advisor</p>    
    </header>

    <article>
        <h2>About</h2>    
        <p>Based in Toronto, Canada, and originally from Montreal, I've worked across Canada, USA, UK, and have consulted + spoken in front of audiences in over 20 countries.</p>        
    </article>

    <article>
        <h2>Work</h2>    
        <p><strong>Advisor</strong>. As an advisor I help startups in consumer tech + health tech connect with their audience and community. I also advise healthcare organizations on issues involving health equity, marketing, and patient engagement. As a rare disease survivor and organ transplant recipient, it is core to my life purpose to ensure my <em>"miracle"</em> outcome becomes the expected outcome for as many people as possible.</p>

<p><strong>Creator</strong>. I lead <a href="#">ΛSV Creative Labs</a>, a content studio focused on developing purpose-driven media. After years of developing and nurturing creators, it only made sense to step forward from behind-the-scenes as a <a href="https://hoo.be/mohit?utm_source=mohitarora.xyz">creator</a>, myself. I operate across multiple platforms, with a strong focus on <a href="https://clubhouse.com/@9?utm_source=mohitarora.xyz">live social audio</a>.</p>


<p><strong>Discography</strong>. In the past, I've worked in the music industry, ran a social media agency, and consulted for clients in fintech, productivity software, behavioural science, adult entertainment, and so… so much more randomness. For more details you can find me on <a href="https://www.linkedin.com/in/-mohitarora-?utm_source=mohitarora.xyz">LinkedIn</a>.
</p>    
    </article>

    <article>
        <h2>Interests</h2>
        <p>
Some general interests I spend my time discussing, learning about, or otherwise experimenting with:
</p>
 
<p>health equity, mental health, identity (race, culture, gender…), music, blockchain, community, crypto, artistry, metaverse, and all things based in love.</p>

<p>If these kinds of topics interest you too, you can read more about them in <a href="http://mixtape.mohitarora.xyz?utm_source=mohitarora.xyz">Mohit's Mixtape</a>, my email newsletter.</p>

    </article>

    <article id="projects">
        <h2>Projects</h2>
        <p>
Here are a few projects that I create (for free). You can support me in  continuing to create more content like this by sending me a tip here, here, or even here.
</p>

<ul>
<li>
<a href="https://www.clubhouse.com/join/healthequity/0xg3UGWy/P0L49k7N?utm_source=mohitarora.xyz">
Health Equity</a> — A community dedicated to achieving equitable health outcomes for all. We host a range of conversations for our community including two weekly series:
<ul>
<li>
<strong>The Patient Will See You Now</strong> - Reimagining the patient-provider relationship.
</li>
<li>
<strong>Centring the Margins</strong> — Weekly mental health discussions in partnership with <a href="https://bmhcmtl.ca?utm_source=mohitarora.xyz">Black Mental Health Connections</a>
</li>
</ul>
</li>

<li>
<a href="https://fatemakers.xyz?utm_source=mohitarora.xyz">
F Δ T Ξ M Δ K Ξ R S
</a>
</li>

<li>
<a href="https://www.clubhouse.com/join/hindiclub/occzFBIh?utm_source=mohitarora.xyz">
Hindi Club
</a>
 — Learn and practice your Hindi with others at all levels of skill.
</li>
</ul>
    </article>

<article>
<h2>
Charitable
</h2>

<p>
When something feels like the right thing to do, you do it regardless of money. That's why I offer full self to causes that I care about. This includes being a board director and committee chair for <a href="https://www.liver.ca?utm_source=mohitarora.xyz">Canadian Liver Foundation</a>, board at the <a href="https://www.twfht.ca?utm_source=mohitarora.xyz">Toronto Western Family Health Team</a>, a volunteer <a href="https://www.uhn.ca/corporate/AboutUHN/Patient_Experience/Pages/patient_partners.aspx?utm_source=mohitaroraxyz">patient partner with UHN</a>, and steady supporter of multiple <a href="https://www.literalchange.com/?utm_source=mohitarora.xyz">charities</a> + <a href="https://www.helpagirlout.org/?utm_source=mohitarora.xyz">non-profit</a> <a href="https://linktr.ee/SRHRHubsToronto?utm_source=mohitarora.xyz">organizations</a>.
</p>
</article>


    <article>
        <h2>Contact</h2>
        <p>If you'd like to reach out to me, you can send me an <a href="mailto:9@mohitarora.xyz">email</a>. You can also connect with me on <a href="https://clubhouse.com/@9?utm_source=mohitarora.xyz">Clubhouse</a>, <a href="https://twitter.com/mohitaroraxyz?utm_source=mohitarora.xyz" >Twitter</a>, <a href="https://instagram.com/moe?utm_source=mohitarora.xyz">Instagram</a> or <a href="https://www.linkedin.com/in/-mohitarora-?utm_source=mohitarora.xyz">LinkedIn</a>.</p>  
    </article>

    <footer>
        <p>The information on this web page was last updated {{ buildDate }}. Content provided under <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC BY-NC 3.0</a>.</span> 
    </footer>

</section>
